*{
    margin: 0%;
    padding: 0%;
}

header{
    height: 90px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

#Brand-logo{
    height: 50px;
    padding-left: 50px;
}

.menu-list{
    display: flex;
    font-size: 1.4rem;
}
.menu-list li{
    list-style: none;
    display: inline-block;
    margin-left: 150px;
    margin-right: 150px;
    cursor: pointer;
}

#home-section{
    width: 100%;
    padding-top: 90px;
}

#home-section img{
    width: 100%;
}

#price-box-model{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
}

#price-box-model li{
    list-style: none;
    margin-bottom: 100px;
}

#price-box-model li a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px;
}

#price-box-model li img {
    margin-top: 100px;
}
